# Question 1.

### 1.1

In [17]:
import pandas as pd

df = pd.read_csv("Wage.csv")
df['jobclass'] = (df['jobclass'] == '2. Information').astype(int)

### 1.2

In [18]:
import numpy as np

df['test'] = np.random.choice([0, 1], size=len(df), p=[0.8, 0.2])

### 1.3

The mapping of education to education_years is based on the typical number of years required to complete each education level in the U.S. education system:

< HS Grad → 10 years

This category represents individuals who did not complete high school.
Assuming they left school around 10th grade, we assign 10 years.
HS Grad → 12 years

A high school diploma is generally earned after 12 years of schooling.
Some College → 14 years

Individuals in this category have completed some college but not a full degree.
We assume they have completed about two additional years after high school, assigning 14 years.
College Grad → 16 years

A bachelor’s degree typically requires 16 years of education (12 years of school + 4 years of college).
Advanced Degree → 18 years

This category includes people with graduate degrees (Master’s, PhD, etc.).
A master's degree typically requires an additional 2 years beyond a bachelor’s, so we assign 18 years.
This mapping provides a reasonable numerical representation of education levels, making it useful for K-means clustering, which requires numerical input variables.

In [20]:
education_mapping = {
    '1. < HS Grad': 10,
    '2. HS Grad': 12,
    '3. Some College': 14,
    '4. College Grad': 16,
    '5. Advanced Degree': 18
}

# Apply the mapping
df['education_years'] = df['education'].map(education_mapping)

### 1.4

In [22]:
from sklearn.preprocessing import StandardScaler

features_to_standardize = ['age', 'logwage', 'education_years']
scaler = StandardScaler()
df[['age_std', 'logwage_std', 'education_years_std']] = scaler.fit_transform(df[features_to_standardize])


df_standardized = df[['jobclass', 'age_std', 'logwage_std', 'education_years_std']].copy()

In [23]:
df_standardized.head()

   jobclass   age_std  logwage_std  education_years_std
0         0 -2.115567    -0.954926            -1.653756
1         1 -1.595658    -1.133464             0.814537
2         0  0.224023     0.628831            -0.008228
3         1  0.050720     1.101775             0.814537
4         1  0.657280    -0.954926            -0.830992